.elgg-subscriptions-table {
    width: 100%;
}

.elgg-subscriptions-table td, .elgg-subscriptions-table th {
	text-align: center;
	vertical-align: middle;
	width: auto;
}

.elgg-subscriptions-table .elgg-subscriptions-type-label {
    max-width: 250px;
	padding: 6px;
	text-align: left;
}

.elgg-subscriptions-table .elgg-subscriptions-toggle-cell {
	max-width: 50px;
    padding: 6px;
}

.elgg-subscriptions-table tr {
    border-bottom: 1px solid #dcdcdc;
}

.elgg-subscriptions-table input {
	margin: 0;
}

.elgg-subscriptions-table a {
	background: none !important;
}

.elgg-subscriptions-table .elgg-subscriptions-collection-member {
	display: none;
	background: #f4f4f4;
}
.elgg-subscriptions-table .elgg-subscriptions-collection-member .elgg-subscriptions-type-label {
    padding-left: 25px;
}